<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Welcome to TLOML</title>
</head>

<body>
    {% import 'tloML/base.html' as base %}
    {{ base.topnavbar() }}
    {% if model_name %}
        {{ base.breadcrumb('Product','','Model',model_name) }}
    {% else %}
        {{ base.breadcrumb('Product','','Model','New') }}
    {% endif %}
    <div class='container'>
        <form action="{{ url_for('tloapp.managemodelpage', product_id=product_id, model_id=model_id) }}" method ="POST" enctype = "multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlInput1">Model Name</label>
                {% if model_name %}
                <input name="model_name" type="text" class="form-control" id="exampleFormControlInput1" value="{{ model_name }}">
                {% else %}
                <input name="model_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Shopee Volume Prediction">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Model Description</label>
                {% if model_desc %}
                <textarea name="model_desc" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="This model contain all versions related to Shopee Volume Prediction"></textarea>
                {% else %}
                <textarea name="model_desc" class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{  model_desc  }}"></textarea>
                {% endif %}
            </div>
            {% if product_name %}
            <button type="submit" class="btn btn-danger" name="submit_button" value="delete">Delete</button>
            <button type="submit" class="btn btn-primary" name="submit_button" value="edit">Edit</button>
            {% else %}
            <button class="btn btn-primary" type="submit" name="submit_button" value="submit">Create</button>
            {% endif %}
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>